{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>超市</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
		<link href="{% static "css/amazeui.min.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
		<script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
		<script src="{% static "js/time.js" %}"></script>
		<style>
			.shop-list-mid .tit a{color: #909090;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;}

            .list-price {
    background: url({% if order == 2 %}{% static "images/order-bot.png" %}{% elif order == 3 %}{% static "images/order-top.png" %}{% else %}{% static "images/order.png" %}{% endif %}) no-repeat right center;
    padding-right: 20px;
    font-style: normal;
}
		</style>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
		    <div class="cate-search">
		    	<input type="text" class="cate-input" placeholder="请输入您要的搜索的产品关键词" />
		    	<input type="button" class="cate-btn" />
	        </div>
	    </header>
	    <div style="height: 49px;"></div>
	    <ul class="list-nav">
	    	<li {% if order == 0 %}class="current"{% endif %}><a href="{% url "goods:商品类别" cate_id 0 %}">综合</a></li>
	    	<li {% if order == 1 %}class="current"{% endif %}><a href="{% url "goods:商品类别" cate_id 1 %}">销量</a></li>
            <li {% if order == 2 or order == 3 %}class="current"{% endif %}><a id="price" href="{% url "goods:商品类别" cate_id 2 %}"><i  class="list-price">价格</i></a></li>
	    	<li {% if order == 4 %}class="current"{% endif %}><a href="{% url "goods:商品类别" cate_id 4 %}">新品</a></li>
	    </ul>
	    <div class="content-list">
	    	<div class="list-left">
                {% for x in data %}

                	<li {% if x.pk == cate_id %}
                	class="current"
                	{% endif %}>
                        <a href="{% url "goods:商品类别" x.pk order %}">{{ x.cata_name }}</a></li>
                {% endfor %}

{#	    		<li><a href="">进口特产</a></li>#}
{#	    		<li class="current"><a href="">休闲零食</a></li>#}
{#	    		<li><a href="">糖果饼干</a></li>#}
{#	    		<li><a href="">饮料牛奶</a></li>#}
{#	    		<li><a href="">方便速食</a></li>#}
{#	    		<li><a href="">生活用品</a></li>#}
{#	    		<li><a href="">香烟代购</a></li>#}
{#	    		<li><a href="">水果酸奶便当</a></li>#}
	    	</div>
	    	<div class="list-right">
	    		<ul class="list-pro">
                    {% for x in Sku %}
                    <li>
	    		<a href="{% url "goods:detail" x.pk %}"><img src="{{ MEDIA_URL }}{{ x.logo }}" class="list-pic" /></a>
	    		<div class="shop-list-mid" style="width: 65%;">
                	<div class="tit"><a href="detail.html">{{ x.sku_name }}</a></div>
                	<div class="am-gallery-desc">￥{{ x.price }}</div>
                	<p>销量：{{ x.sales_volume }}</p>
                </div>
                <div class="list-cart">
                <div class="d-stock ">
		                <a class="decrease">-</a>
		                <input sku_id="{{ x.pk }}" id="num" readonly="" class="text_box" name="" type="text" value="0">
		                <a class="increase">+</a>
                </div>
                </div>
                <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
	    	</li>
                        {% empty %}
                        <li>
                        <a href="{% url "goods:商品类别" "" "" %}">商品丢失了</a>
                        </li>
                    {% endfor %}


	    	
	    </ul>
	    	</div>
	    </div>
	    
	    <!--底部-->
 <div style="height: 55px;"></div>
 <div class="fix-bot">
	   	  <div class="fix-bot-cart"><i id="cart_count">{{ cart_count }}</i></div>
	   	  <a href="{% url "order:确认订单" %}" class="list-js">去结算</a>
	   	  <a href="{% url "Cart:购物车" %}" class="list-jsk">一键快购</a>
	   	  <!--<div class="js-text">
            	<p><b>￥217.80</b></p>
            	<p class="js-car">购物满50元免运费</p>
          </div>-->
 </div>
 
 
 
 
 
 
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/amazeui.min.js" %}"></script>

<script>
//购物数量加减
$(function(){
		$('.increase').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			{#Ajax操作开始#}
            var sku_id = self.siblings('input').attr('sku_id');
            var data = {
                'csrfmiddlewaretoken':'{{ csrf_token }}',
                'count':1,
                'sku_id':sku_id

            };
            $.ajax({
                type:"post",
                url:"{% url 'Cart:添加' %}",
                data:data,
                dataType:"json",
                success:function (data) {
                    if (data.code == 0){
                        //添加成功
                        alert("成功")
                        current_num += 1;
			if(current_num > 0){
				self.siblings(".decrease").fadeIn();
				self.siblings(".text_box").fadeIn();
			}
			self.siblings('input').val(current_num);
			//修改总数量
                        $("#cart_count").text(data.data)
                    }else if(data.code == 1){
                        //未登录,跳转登录页面
                        if(confirm("没有登录，是否继续")){
                        location.href = "{% url "user:login" %}"
                        }

                    }else {
                        alert(data.errmsg);
                    }
                }
                
            });




		})
		$('.decrease').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			{#Ajax操作开始#}
            var sku_id = self.siblings('input').attr('sku_id');
            var data = {
                'csrfmiddlewaretoken':'{{ csrf_token }}',
                'count':-1,
                'sku_id':sku_id

            };
            $.ajax({
                type:"post",
                url:"{% url 'Cart:减少' %}",
                data:data,
                dataType:"json",
                success:function (data) {
                  if (data.code == 0){
                      //删除成功
                      if(current_num > 0){
				current_num -= 1;
                if(current_num < 1){
	                self.fadeOut();
					self.siblings(".text_box").fadeOut();
                }
				self.siblings('input').val(current_num);
                // 修改数量
                          $("#cart_count").text(data.data);
			}else if (data.code == 1){
                          //未登录，跳转登录
                          if(confirm("没有登录，是否立即登录")){
                            location.href = "{% url 'user:login' %}"
                          }

                      }else {
                          alert(data.errmsg);
                      }
                  }
                }

            });


			{% comment %}if(current_num > 0){
				current_num -= 1;
                if(current_num < 1){
	                self.fadeOut();
					self.siblings(".text_box").fadeOut();
                }
				self.siblings('input').val(current_num);

			}{% endcomment %}
		})
	})
      $(function () {
          {%  if order == 2 %}
              $("#price").attr('href','{% url "goods:商品类别" cate_id 3 %}');
              {% elif order == 3 %}
              $("#price").attr('href','{% url "goods:商品类别" cate_id 2 %}');
          {% endif %}
      })
</script>
	</body>
</html>
